<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button fill="clear" color="dark" href="/list"><ion-icon name="arrow-round-back"></ion-icon></ion-button>
      </ion-buttons>
    <ion-title>Vestuário</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-img src="../assets/vest.jpg"></ion-img>
        <ion-card-header>Técnico em Vestuário</ion-card-header>
        <ion-card-content>
              <p><strong>Eixo Tecnológico:</strong>Produção Industrial. </p>
              <p><strong>Modalidade:</strong> Presencial. </p>
              <p><strong>O que o aluno estuda:</strong>Supervisiona o processo de confecção do produto conforme padrões de qualidade e segurança. Acompanha equipes de trabalho que atuam na produção Define a sequência de montagem do produto, considerando as diversas formas de execução e características da matéria-prima especificada. Opera máquinas de costura industrial e equipamentos utilizados na indústria de confecção do vestuário. Avalia fornecedores de matérias-primas.</p>
              <p><strong>O que o profissional faz:</strong>Voltado para o processo industrial, o profissional planeja, programa e controla uma produção de vestuário. O profissional estima custos e tempo de produção para peças de uma indústria de confecção.</p>
              <p><strong>Onde trabalhar:</strong>Indústrias de confecção, ateliê de costura e fornecedores.</p>
        </ion-card-content>
        </ion-card>
     
</ion-content>
