<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button fill="clear" color="dark" href="/list"><ion-icon name="arrow-round-back"></ion-icon></ion-button>
      </ion-buttons>
    <ion-title>Desenvolvimento de Sistemas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-img src="../assets/ds.jpg"></ion-img>
        <ion-card-header>Desenvolvimento de Sistemas</ion-card-header>
        <ion-card-content>
              <p><strong>Eixo Tecnológico:</strong> Informação e Comunicação. </p>
              <p><strong>Modalidade:</strong> Presencial. </p>
              <p><strong>O que o profissional faz:</strong>  O técnico em Desenvolvimento de Sistemas é o profissional que analisa e projeta sistemas. Constrói, documenta, realiza testes e mantém sistemas de informação. Utiliza ambientes de desenvolvimento e linguagens de programação específica. Modela, implementa e mantém bancos de dados. </p>
              <p><strong>Onde trabalhar:</strong>  Empresas e departamentos de desenvolvimento de sistemas em organizações governamentais e não governamentais, podendo também atuar como profissional autônomo.</p>
        </ion-card-content>
        </ion-card>
</ion-content>
