<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Contato</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-card>
<ion-card-header>
  <ion-card-subtitle></ion-card-subtitle>
  <ion-card-title> E-MAILS PARA ASSUNTOS OFICIAIS </ion-card-title>
</ion-card-header>
 <ion-card-content>
<ion-label><strong> DIREÇÃO: </strong> e161dir@cps.sp.gov.br </ion-label>   <br>
<ion-label><strong> SECRETARIA (SERVIÇOS ACADÊMICOS): </strong> e161acad@cps.sp.gov.br </ion-label>
 <ion-label><strong> RECURSOS HUMANOS E MATERIAIS (SERVIÇOS ADMINISTRATIVOS): </strong> e161adm@cps.sp.gov.br </ion-label>
 </ion-card-content>
</ion-card>
<br>

<ion-card>
  <ion-card-header>
    <ion-card-subtitle></ion-card-subtitle>
    <ion-card-title> E-MAIL PARA DÚVIDAS DIVERSAS </ion-card-title> 
  </ion-card-header>
    
    <ion-card-content>
      
      <ion-label> <strong>E-mail:</strong>
          contato@etecibitinga.com.br
       </ion-label>
  <br>
   <ion-label> <strong> Telefones: </strong> <br>
      (16) 3341-7046   <br>
      (16) 3342-6039 
    </ion-label>
 </ion-card-content>
</ion-card>


</ion-content>
