
 .content{
         --background: url("/assets/img/BackEtec.jpg") no-repeat  center center/cover ;
         
         }
.titulo{
    text-align:center;
    padding-top: 40px;
}
.texto{
    text-align:center;
    color:black;
    padding-top:100px;
    
}
    
.subtitle{
    color:blue;
    font-size:18px;
    display:block;
    
}
.azul{
    color:blue;
    text-align:center;
}

.texto2{
    text-align:center;
    color:black;
    padding-top:120px;
}

.creditos{
    color: #2E9AFE;
    text-align: center;
    padding-top: 110px;

}