<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button fill="clear" color="dark" href="/home"><ion-icon name="arrow-round-back"></ion-icon></ion-button>
        </ion-buttons>
    <ion-title>Sobre</ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/frente.webp" alt="" />
      <ion-card-header>
        <ion-card-subtitle></ion-card-subtitle>
        <ion-card-title>Bem vindo à Etec</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <h2>Missão</h2>
        <p>Atuar junto à comunidade cidadã, política e empresária, atualizada às mudanças globais e seus anseios, capacitando pessoas em sua diversidade, com preceitos éticos e morais, com foco na educação de qualidade, munidos de habilidades e conhecimentos necessários para o sucesso no mercado de trabalho, sejam como colaboradores ou como empreendedores, aptos a integrar a sociedade como agentes de mudança.</p>
        <h2>Visão</h2>
        <p> • Ser reconhecida como instituição composta por corpo docente extremamente qualificado e equipe eficiente;</p>
        <p> • Ser referência em cursos caracterizados por metodologia diversificada e qualidade do processo de ensino e aprendizagem dentro e fora da sala de aula;</p>
        <p> • Ser lembrada pelas boas parcerias de programas de estágio e aprendizagem sempre em ascendência;</p>
      </ion-card-content>
    </ion-card>
</ion-content>
