<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button fill="clear" color="dark" href="/list"><ion-icon name="arrow-round-back"></ion-icon></ion-button>
      </ion-buttons>
    <ion-title>Comércio (EAD)</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-img src="../assets/come.jpg"></ion-img>
        <ion-card-header>Técnico em Comércio (Ensino a Distância - Semipresencial)</ion-card-header>
        <ion-card-content>
              <p><strong>Eixo Tecnológico:</strong> Gestão e Negócios.  </p>
              <p><strong>Modalidade:</strong> Semipresencial (Nessa modalidade o aluno conta com aulas presenciais e a distância, com o suporte de um professor orientador e de um Ambiente Virtual de Aprendizagem) - TelecursoTEC. </p>
              <p><strong>O que o profissional faz:</strong>Técnico em Comércio é o profissional que aplica métodos de comercialização de bens e serviços. Efetua controle quantitativo e qualitativo de produtos. Coordena a armazenagem no estabelecimento comercial. Elabora planilha de custos. Verifica a demanda e comunica previsões aos fornecedores. Operacionaliza planos de marketing e comunicação, logística, recursos humanos e comercialização</p>
              <p><strong>Onde trabalhar:</strong>Instituições públicas, privadas e do terceiro setor.</p>
        </ion-card-content>
        </ion-card>
</ion-content>
