<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button fill="clear" color="dark" href="/list"><ion-icon name="arrow-round-back"></ion-icon></ion-button>
      </ion-buttons>
    <ion-title>Administração (EAD)</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-img src="../assets/admead.jpg"></ion-img>
        <ion-card-header>Técnico em Administração (Ensino a Distância - Semipresencial)</ion-card-header>
        <ion-card-content>
              <p><strong>Eixo Tecnológico:</strong> Gestão e Negócios.  </p>
              <p><strong>Modalidade:</strong> Semipresencial (Nessa modalidade o aluno conta com aulas presenciais e a distância, com o suporte de um professor orientador e de um Ambiente Virtual de Aprendizagem) - TelecursoTEC. </p>
              <p><strong>O que o profissional faz:</strong> É o profissional que controla a rotina administrativa das empresas. Colabora nos planejamentos estratégico, tático e operacional. Realiza atividades em recursos humanos e intermedeia mão-de-obra para colocação e recolocação. Atua na área de compras, auxilia no setor contábil e assessora a área de vendas. Intercambia mercadorias e serviços e executa atividades nas áreas fiscal e financeira. </p>
              <p><strong>Onde trabalhar:</strong> Instituições públicas, privadas e do terceiro setor.</p>
        </ion-card-content>
        </ion-card>
</ion-content>
