<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Cursos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item href="/ds">
        <ion-icon name="laptop"></ion-icon>
       Desenvolvimento de Sistemas
    </ion-item>
    <ion-item href="/adm">
        <ion-icon name="briefcase"></ion-icon>
      Administração
    </ion-item>
    <ion-item href="/rh">
        <ion-icon name="clipboard"></ion-icon>
      Recursos Humanos
    </ion-item>
    <ion-item href="/log">
        <ion-icon name="stats"></ion-icon>
      Logística
    </ion-item>
    <ion-item href="/mark">
        <ion-icon name="settings"></ion-icon>
      Marketing
    </ion-item>
    <ion-item href="/vest">
        <ion-icon name="shirt"></ion-icon>
      Vestuário  
    </ion-item>
    <ion-item href="/sj">
        <ion-icon name="create"></ion-icon>
      Serviços jurídicos
    </ion-item>
    <ion-item href="/cont">
        <ion-icon name="analytics"></ion-icon>
        Contabilidade
      </ion-item>
  </ion-list>

</ion-content>
