<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title><strong>Últimos Posts</strong></ion-title>
    </ion-toolbar>
  </ion-header>
  
<ion-content>
    <ion-list lines="none">
        <ion-item>
          <ion-card href="https://etecdeibitinga.wixsite.com/novo/single-post/2019/09/26/SETEMBRO-AMARELO-2019">
            <ion-img src="../assets/setembro.png"></ion-img>
            <ion-card-title>SETEMBRO AMARELO 2019</ion-card-title>
            <ion-card-subtitle>26/09/19</ion-card-subtitle>
          </ion-card>
        </ion-item>
        <ion-item>
            <ion-card href="https://etecdeibitinga.wixsite.com/novo/single-post/2019/09/24/LIDERAN%C3%87A-E-DESAFIOS">
              <ion-img src="../assets/lideranca.jpg"></ion-img>
              <ion-card-title>LIDERANÇA E DESAFIOS</ion-card-title>
              <ion-card-subtitle>24/09/19</ion-card-subtitle>
            </ion-card>
          </ion-item>
          <ion-item>
              <ion-card href="https://etecdeibitinga.wixsite.com/novo/single-post/2019/09/21/ESCOLA-INOVADORES-2019">
                <ion-img src="../assets/inovadores.jpg"></ion-img>
                <ion-card-title>ESCOLA DE INOVADORES 2019</ion-card-title>
                <ion-card-subtitle>21/09/19</ion-card-subtitle>
              </ion-card>
          </ion-item>
          
      </ion-list>


</ion-content>
