<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Etec de Ibitinga
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/Logo.gif" alt="" />
      <ion-card-header>
        <ion-card-subtitle></ion-card-subtitle>
        <ion-card-title>Bem vindo à Etec</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>A Etec de Ibitinga está honrada por receber você neste evento, este é um aplicativo feito por alunos do 3º Etim Informática.</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Vamos lá</ion-label>
      </ion-list-header>
      <ion-item href="/sobre">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>Sobre</ion-label>
      </ion-item>
      
    </ion-list>
</ion-content>
