<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button fill="clear" color="dark" href="/list"><ion-icon name="arrow-round-back"></ion-icon></ion-button>
      </ion-buttons>
    <ion-title>Contabilidade</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-img src="../assets/cont.jpg"></ion-img>
        <ion-card-header>Técnico em Contabilidade</ion-card-header>
        <ion-card-content>
              <p><strong>Eixo Tecnológico:</strong> Gestão e Negócios.  </p>
              <p><strong>Modalidade:</strong>  Presencial. </p>
               <p><strong>O que o aluno estuda:</strong> Matemática e língua portuguesa são disciplinas importantes para entender a contabilidade, que é a ciência responsável por organizar as contas de uma empresa e registrar seus bens patrimoniais (como prédios, veículos e máquinas, entre outros). Além da matemática básica, que serve como ferramenta para calcular o lucro ou o prejuízo de uma empresa, o estudante aprenderá matemática financeira, utilizada para operações de financiamento e cálculo de taxas de juros, por exemplo. O aluno também vai conhecer quais são as regras da contabilidade e todas as leis que estabelecem o que as empresas podem fazer e quais impostos devem pagar. Na área de Informática, o estudante vai aprender a fazer planilhas e a usar programas de computador específicos para a contabilidade. </p>
              <p><strong>O que o profissional faz:</strong> Ajuda na preparação dos documentos necessários para a abertura ou o encerramento de uma empresa. Calcula os tributos (impostos, taxas e contribuições) que uma empresa deve pagar ao governo. Emite notas fiscais, gera boletos bancários e guias para o pagamento dos tributos. Registra os bens comprados e vendidos pela empresa. Elabora planilhas de controle de bens ou de estoque de mercadorias e produtos. Organiza e arquiva documentos. Auxilia na produção de relatórios diversos referentes às contas da empresa, ao cálculo do lucro ou prejuízo, do desempenho de vendas, das dívidas e dos demais demonstrativos de resultados.</p>
              <p><strong>Onde trabalhar:</strong>No setor de Contabilidade de qualquer tipo de empresa e em escritórios de Contabilidade.</p>
        </ion-card-content>
        </ion-card>
</ion-content>
